.pic {
  height: 300px;
  width: 300px;
  text-align: center;
}

.pic img {
  object-fit: cover;
  transition: transform 0.5s;
}

.pic img:hover {
  transform: scale(0.9);
}

.modelPic {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}

@media (max-width: 940px) {
  .modelBox {
    width: 35rem;
  }
}
