.wallpaperContainer {
  height: 100vh;
  width: 100%;
  position: relative;
}

.image img {
  object-fit: cover;
}
.image {
  position: relative;
  height: inherit;
  width: inherit;
}

.image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.531);
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
