.partnerContainer {
  width: 55vw;
  margin: 2rem;
}

.partnerContainer h2 {
  color: #4f638c;
}

.socialMediaLink {
  color: #4f638c;
  margin-top: 1rem;
  transition: transform 0.5s;
}

.socialMediaLink:hover {
  transform: scale(1.2);
}

.image {
  border-radius: 15px;
}
