.cardContainer {
  width: 300px;
  height: 300px;
  padding: 2rem;
}

.cardContainer h3 {
  line-height: 2.5rem;
}

.cardContainer p {
  line-height: 1.5rem;
  text-align: justify;
  padding: 0 10px;
}
