.photoGalleryContainer {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 670px) {
  .photoGalleryContainer {
    width: 670px;
  }
}
