.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

@media (max-width: 670px) {
  .aboutContainer {
    width: 670px;
  }
}
