.pad {
  padding: 2rem;
}
.padSides {
  padding: 0 2rem;
}

.padUpDown {
  padding: 2rem 0;
}

.marg {
  margin: 2rem;
}

.margSides {
  margin: 0 2rem;
}

.margUpDown {
  margin: 2rem 0;
}

.fontLightFilter {
  filter: invert(85%) sepia(19%) saturate(607%) hue-rotate(344deg)
    brightness(100%) contrast(90%);
}

.fontDarkFilter {
  filter: invert(38%) sepia(53%) saturate(330%) hue-rotate(338deg)
    brightness(97%) contrast(88%);
}

.fontLight {
  color: #f2cea2;
}

.fontDark {
  color: #8c644d;
}
